<section class="empleados-section">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2 class="section-title">
                        <i class="fas fa-user-tie"></i> Empleados
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <!-- Barra de búsqueda y botón crear -->
            <div class="row mb-4 justify-content-center">
                <div class="col-md-2">
                    <div class="input-group search-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar por identificación..."
                            [formControl]="buscarIdentificacion" [matAutocomplete]="autoIdentificacion"
                            (focus)="buscarIdentificacion.setValue(buscarIdentificacion.value || '')">
                        <mat-autocomplete #autoIdentificacion="matAutocomplete"
                            (optionSelected)="seleccionarSugerenciaIdentificacion($event.option.value)">
                            <mat-option *ngFor="let sugerencia of sugerenciasIdentificacion | async"
                                [value]="sugerencia">
                                {{ sugerencia.identificacion }}
                            </mat-option>
                        </mat-autocomplete>
                        <div class="input-group-append">
                            <button class="input-group-text search-button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group search-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar por nombre..."
                            [formControl]="buscarNombre" [matAutocomplete]="autoNombre"
                            (focus)="buscarNombre.setValue(buscarNombre.value || '')">
                        <mat-autocomplete #autoNombre="matAutocomplete"
                            (optionSelected)="seleccionarSugerenciaNombre($event.option.value)">
                            <mat-option *ngFor="let sugerencia of sugerenciasNombre | async" [value]="sugerencia">
                                {{ sugerencia.nombre }}
                            </mat-option>
                        </mat-autocomplete>
                        <div class="input-group-append">
                            <button class="input-group-text search-button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group search-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar por correo..."
                            [formControl]="buscarCorreo" [matAutocomplete]="autoCorreo"
                            (focus)="buscarCorreo.setValue(buscarCorreo.value || '')">
                        <mat-autocomplete #autoCorreo="matAutocomplete"
                            (optionSelected)="seleccionarSugerenciaCorreo($event.option.value)">
                            <mat-option *ngFor="let sugerencia of sugerenciasCorreo | async" [value]="sugerencia">
                                {{ sugerencia.correo }}
                            </mat-option>
                        </mat-autocomplete>
                        <div class="input-group-append">
                            <button class="input-group-text search-button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group search-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar por rol..."
                            [formControl]="buscarRol" [matAutocomplete]="autoRol"
                            (focus)="buscarRol.setValue(buscarRol.value || '')">
                        <mat-autocomplete #autoRol="matAutocomplete"
                            (optionSelected)="seleccionarSugerenciaRol($event.option.value)">
                            <mat-option *ngFor="let sugerencia of sugerenciasRol | async" [value]="sugerencia">
                                {{ sugerencia.nombreRol }}
                            </mat-option>
                        </mat-autocomplete>
                        <div class="input-group-append">
                            <button class="input-group-text search-button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group search-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar por ferretería..."
                            [formControl]="buscarFerreteria" [matAutocomplete]="autoFerreteria"
                            (focus)="buscarFerreteria.setValue(buscarFerreteria.value || '')">
                        <mat-autocomplete #autoFerreteria="matAutocomplete"
                            (optionSelected)="seleccionarSugerenciaFerreteria($event.option.value)">
                            <mat-option *ngFor="let sugerencia of sugerenciasFerreteria | async" [value]="sugerencia">
                                {{ sugerencia.razonSocial }}
                            </mat-option>
                        </mat-autocomplete>
                        <div class="input-group-append">
                            <button class="input-group-text search-button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                    <button class="btn btn-create me-2" (click)="crearEmpleado()" *ngIf="permisoCrear">
                        <i class="fas fa-plus"></i> Crear
                    </button>
                    <button class="btn btn-create" (click)="buscarEmpleados()">
                        <i class="fas fa-search"></i> Buscar
                    </button>
                </div>
            </div>

            <!-- Contenedor de la tabla -->
            <div class="card">
                <div class="card-body">
                    <!-- Selector de registros por página -->
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="entries-selector">
                                <span>Mostrar </span>
                                <select class="form-select entries-select"
                                    (change)="actualizarRegistrosPorPagina($event)">
                                    <option [value]="5" [selected]="registrosPorPagina === 5">5</option>
                                    <option [value]="10" [selected]="registrosPorPagina === 10">10</option>
                                    <option [value]="20" [selected]="registrosPorPagina === 20">20</option>
                                    <option [value]="50" [selected]="registrosPorPagina === 50">50</option>
                                </select>
                                <span> registros por página</span>
                            </div>
                        </div>
                    </div>

                    <!-- Tabla de departamentos -->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 13%;">Identificación</th>
                                    <th scope="col" style="width: 18%;">Nombre Completo</th>
                                    <th scope="col" style="width: 17%;">Correo</th>
                                    <th scope="col" style="width: 17%;">Dirección</th>
                                    <th scope="col" style="width: 10%;">Teléfono</th>
                                    <th scope="col" style="width: 10%;">Rol</th>
                                    <th scope="col" style="width: 10%;">Ferretería</th>
                                    <th *ngIf="permisoEditar || permisoEliminar" scope="col" class="text-center"
                                        style="width: 5%;">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let empleado of listEmpleados.slice((paginaActual - 1) * registrosPorPagina, paginaActual * registrosPorPagina)">
                                    <td>{{ empleado.identificacion }}</td>
                                    <td>{{ empleado.nombre + ' ' + empleado.apellidos }}</td>
                                    <td>{{ empleado.correo }}</td>
                                    <td>{{ empleado.direccion }}</td>
                                    <td>{{ empleado.telefono }}</td>
                                    <td>{{ empleado.nombreRol }}</td>
                                    <td>{{ empleado.razonSocial }}</td>
                                    <td *ngIf="permisoEditar || permisoEliminar" class="text-center">
                                        <div class="action-buttons">
                                            <button *ngIf="permisoEliminar" class="btn btn-delete" title="Eliminar"
                                                (click)="eliminarEmpleado(empleado)">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="listEmpleados.length === 0">
                                    <td colspan="8" class="text-center">No se encontraron empleados</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Información de registros -->
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="records-info">
                                Mostrando registros del {{ getIndiceInicial()}} al {{ getIndiceFinal() }} de un total
                                de {{ totalRegistros }}
                            </div>
                        </div>
                    </div>
                    <!-- Paginación -->
                    <div class="row justify-content-center">
                        <nav aria-label="Navegación de páginas">
                            <ul class="pagination justify-content-end">
                                <li class="page-item" [class.disabled]="paginaActual === 1">
                                    <a class="page-link" (click)="cambiarPagina(paginaActual - 1)">
                                        <i class="fas fa-chevron-left"></i> Anterior
                                    </a>
                                </li>
                                <li class="page-item" *ngFor="let pagina of paginas"
                                    [class.active]="pagina === paginaActual">
                                    <a class="page-link" (click)="cambiarPagina(pagina)">{{ pagina }}</a>
                                </li>
                                <li class="page-item" [class.disabled]="paginaActual === paginas.length">
                                    <a class="page-link" (click)="cambiarPagina(paginaActual + 1)">
                                        Siguiente <i class="fas fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>